{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
   	<h1 class="main-title">Welcome to Our Blog!</h1>
    <div class="content-wrapper">
        <p class="description-text">Welcome to Our Blog!

Our Blog is your platform to express yourself freely. Whether you're passionate about coding, machine learning, or any other subject, this is where your ideas come to life. Join our community today and start sharing your insights with the world.

Why Join Our Blog?
<br>   -<b> Express Yourself:</b> Share your thoughts, experiences, and expertise on a wide range of topics. From coding tutorials to discussions on the latest advancements in machine learning, there's no limit to what you can talk about.

<br>  - <b> Explore Diverse Perspectives:</b> Dive into a treasure trove of content created by fellow enthusiasts. Discover new ideas, gain inspiration, and broaden your horizons without the need for direct interaction.

<br>  - <b> Post with Ease:</b> Our user-friendly interface makes it simple to create and publish posts. Add titles, images, and rich content to make your posts stand out and capture the attention of readers.

<br>Get Started Today!

Ready to embark on your blogging journey? Click on the 'Register' button to create an account or 'Login' if you're already a member. Your voice matters, and we can't wait to hear what you have to say.

Welcome to a world where your ideas shine bright. Welcome to Our Blog!<p>
	<p class="intro-text">Check out our <a href="about" class="about-link">About</a> page.</p>

	</div>
{% endblock %}











{% comment %}{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Welcome to Our Blog!</h1>
    <p>Check out my <a href="about">About</a> page.</p>
	<p>Discover a space where you can share your stories, thoughts, and experiences. Post your content, including images, and connect with a community of like-minded individuals. Join us and start sharing today!</p>
{% endblock %}
{% endcomment %}
